*[data-level="info"] {
  @apply bg-cyan-500/50;
}

*[data-level="warn"] {
  @apply bg-orange-500/50;
}

*[data-level="error"] {
  @apply bg-red-500/50;
}

*[data-level="log"] {
  @apply bg-green-500/50;
}
